
body {padding-top: 70px;}
.row-padded-top{margin-top:10px;}
.row-padded-bottom{margin-bottom:10px;}
.brother-quest-panel-container .brother-quest-author{font-weight:bold;}
.brother-quest-panel-container .brother-quest-date{font-size: 12px; padding-left: 5px;}
.brother-quest-form .form-btns{margin-top:15px; margin-bottom:10px;}
.brother-quest-admin-list table tbody tr td{vertical-align:middle;}
