<?php
/* @var $tasks */
/* @var $tasksCount */
?>
<script type="text/javascript">function validate(o) { return true; }</script>

<h1>Список заданий(<?php echo $tasksCount ?>)</h1>
	Сортировка по
    <?php echo link_to('Модификация', 'quest/show', array('query_string'=>'sort=update')) ?> |
    <?php echo link_to('Создание', 'quest/show', array('query_string'=>'sort=create')) ?><br/>

<div id="show_q">
<?php foreach ($tasks as $item): /* @var $item Quest */ ?>
<p>
	<?php echo form_tag('quest/show') ?>
	<input type="hidden" name="id" value="<?php echo $item->getId() ?>"/>

	Вопрос:
	<?php echo str_replace("\n", '<br/>', $item->getQ()) ?>
	<br/>
    <?php if ($item->getA() != ''): ?>
    Ответ: <?php echo $item->getA() ?>;<br/>
    <?php endif ?>
    Автор: <a href="mailto:<?php echo $item->getEmail() ?>"><?php echo $item->getEmail() ?></a>;<br/>
    Создан: <?php echo $item->getCreatedAt() ?>;<br/>
    Изменён: <?php echo $item->getUpdatedAt() ?>;<br/>
    <?php if ($item->getIsp() != ''): ?>
    Исполнитль: <?php echo $item->getIsp() ?>;<br/>
    <?php endif ?>
    <?php if ($item->getComment() != ''): ?>
    Комментарий: <?php echo $item->getComment() ?>;<br/>
    <?php endif ?>

    <label for="a">Ответ:</label><br/>
    <textarea name="a" id="a"><?php echo $item->getA() ?></textarea><br/>
    <label for="comment">Комментарий:</label><br/>
    <textarea name="comment" id="comment"><?php echo $item->getComment() ?></textarea><br/>

    <label for="status1">Закрыть:</label><br/>
    <input type="radio" name="status" value="1" style="width:auto;" id="status1" />
    <label for="status2">Отложить:</label><br/>
    <input type="radio" name="status" value="2" style="width:auto;" id="status2" />
	<input type="submit" name="Сохранить" />
    <input type="button" value="Удалить" onclick="if (confirm('Please, confirm deletion?'))  location.href='<?php echo url_for('quest/delete?id='.$item->getId().'&refer=quest/show') ?>';return false;"/>
	<?php echo '</form>' ?>


</p><br/>
<hr>
<?php endforeach ?>;
</div>